.chat{
    background-color: rgb(245, 245, 245);
    height: 100%;
    width: 100%;
}

.chat-wrapper{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 300px 1fr;
    max-width: 850px;
    margin: auto;
}

.chat-wrapper > div {
    width: 100%;
    height: 100%;
}

.recent-chats { 
    background-color: white;
    padding: 16px;
}

.recent-chat-item{
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 8px 0px
}

.meta-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.date-field{
    font-size: 10px;
    margin-left: 4px;
    font-weight: normal;
    margin-bottom: 4px;
}

.recent-chat-item  > img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 8px;
}

.recent-chat-item  > div > h5{
    font-size: 18px;
    font-weight: bold;
    line-height: 12px;

}

.need-help-chip, .provide-help-chip{
    padding: 3px 8px;
    border-radius: 16px;
    font-size: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #22543dc9;
    margin-right: 8px;
}

.chat-container{
    border: 1px solid black;
    background-color: rgb(245, 245, 245);
    position: relative;
    padding: 8px;
}

.chat-container-inputbox{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

.chat-container-inputbox > input{
    width: 85%;
}

.chat-container-inputbox > button{
    width: 15%;
}

@media only screen and (max-width: 1150px){
    .chat-wrapper{
        grid-template-columns: 200px 1fr;
    }
}

@media only screen and (max-width: 550px){
    .chat-wrapper{
        grid-template-columns: 80px 1fr;
    }
    .recent-chat-item > div{
        display: none;
    }
}