.sidenav {
    border-right: 1.5px solid #CBD5E0;
}

.sidenav>div {
    position: fixed;
    width: 300px;
    overflow-y: auto;
    overflow-x: auto;
    height: calc(100% - 88px);

}


@media only screen and (max-width: 1246px) {
    .sidenav>div {
        width: 250px;

    }
}