.navwrapper {
    height: 100%;
    width: 100%;
}

.navbar {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1.5px solid #cbd5e073;
    backdrop-filter: blur(10px);
}

.bottom-nav {
    z-index: 9;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    border-top: 2px solid #cbd5e073;
    /* backdrop-filter: blur(100px); */
    height: 70px;
}

.navmobile {
    display: none;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    border-bottom: 1.5px solid #cbd5e073;
    backdrop-filter: blur(90px);
}

.navmobile-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 16px;
}

.navmobile-col-left {
    flex: 20%;
    max-width: 20%;
}

.navmobile-col-left>div {
    cursor: pointer;
    border: 2px solid #909fb8;
    width: 36px;
    height: 36px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navmobile-col-center {
    flex: 60%;
    max-width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}




.navmobile-col-right {
    flex: 20%;
    max-width: 20%;
}

@media only screen and (max-width: 650px) {
    .navbar {
        display: none !important;
    }

    .navmobile {
        display: block !important;
    }
}