:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --unselected: #a7ffeb;
  --highlight-bg: #64ffda;
  --text: #1de9b6;
  --selected: #00bfa5;
  --body-bg: #212121;
  --card-bg: #424242;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  transition: .3s;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
  font-family: "Poopins"-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

.App {
  margin: auto;
  height: 100%;
}

.main-wrapper {
  display: grid;
  grid-template-rows: 88px 1fr;
}

.App>.header {
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  /* box-shadow: 0.1em 0.1em 0.6em #d2d2d2; */
  justify-content: center;
  background-color: #424242;
  padding: 0 20px;
}

.app_body {
  height: 100%;
  display: grid;
  grid-template-columns: 300px 1fr 300px;
}

.App>.app_body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.App>.app_body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* Firefox */
}

.App>.app_body>.content {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #919191;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b6b6b;
}

::-webkit-scrollbar-track {
  background: #f0f2f5;
  border-radius: 10px;
  box-shadow: inset 7px 10px 12px #f0f0f0;
}

@media only screen and (max-width: 1246px) {
  .app_body {
    grid-template-columns: 250px 1fr 250px;
  }
}

@media only screen and (max-width: 900px) {
  .app_body {
    grid-template-columns: 250px 1fr 0px;
  }
}


@media only screen and (max-width: 650px) {
  .main-wrapper {
    display: grid;
    grid-template-rows: 70px 1fr 70px;
  }

  .app_body {
    grid-template-columns: 0px 1fr 0px;
  }
}